#a{
    background-color: aqua;
}
#b{
    background-color: blanchedalmond;
}
.one,.two,.three{
    background-color: #f0f8ff;
}
.d{
    background-color:purple ;
}
.e{
    background-color: lightcoral;
}